footer {
    background: hsl(350, 86%, 14%);
    color: white;
    bottom: 0%;
    padding: 45px;
    min-height: 185px;
    max-height: 300px;
}

.left {
    float: left;
    text-align: center;
    width: 33.3%
}